- var datalink = "http://data.baltimoresun.com/news/ellicott-city-flood-map/"
//- var datalink = ""

include includes/timeline.jade

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Ellicott City Flood Timeline
		meta(name="description", content="See how Ellicott City's once-in-a-millenium flood unfolded in this interactive map.")
		meta(name="keywords" content="ellicott city,flooding,timeline,interactive map,interactive,baltimore sun")
		meta(name="author", content="Jin Bae Kim") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Old+Standard+TT|Lato|Montserrat")
		link(rel="stylesheet", type="text/css", href="#{datalink}fontello/css/fontello.css")

		//Facebook Stuff
		meta(property="og:title", content="Ellicott City Flood Timeline")
		meta(property="og:url", content="http://data.baltimoresun.com/news/ellicott-city-flood-map/")
		meta(property="og:image", content="http://data.baltimoresun.com/news/ellicott-city-flood-map/images/thumb.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="See how Ellicott City's once-in-a-millenium flood unfolded in this interactive map.")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="Ellicott City Flood Timeline")
		meta(name="twitter:description", content="See how Ellicott City's once-in-a-millenium flood unfolded in this interactive map.")
		meta(name="twitter:image", content="http://data.baltimoresun.com/news/ellicott-city-flood-map/images/thumb.png")
		meta(name="twitter:domain", content="baltimoresun.com")

		script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.js')
		link(href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.4/mapbox-gl.css', rel='stylesheet')

	body

		include includes/omniture.html
		
		.container
			#wrapper
				#map
				#features
					a(name="cover")
					section.active(id="cover")
						h1 Ellicott City Flood Timeline
						p
						small.scroll
							#first-button
								a(href='#0') Next ↓
					each event, i in timeline
						a(name="#{i}")
						section(id="slide#{i}")
							p.date #{event.date}
							h3 #{event.timestamp}
							p #{event.text}
							if event.video
								p
									a(href="#{event.video}" target="_blank" rel="noopener") See video
							if event.article
								p
									a(href="#{event.article}" target="_blank" rel="noopener") Read more
							small.scroll
								.next
									a(href='##{i+1}') Next ↓
					a(name="13")
					section(id="slide13")
						i.icon-twitter
						i.icon-facebook
						p 
							a(href="http://www.baltimoresun.com/news/maryland/howard/ellicott-city/bal-coverage-2016-ellicott-city-flood-20160731-storygallery.html" target="_blank" rel="noopener") View more coverage 
							| from The Baltimore Sun
						p Mapping codebase by 
							a(href="http://codepen.io/joe-rayment/" target="_blank" rel="noopener") Joe Rayment
						p Adapted by 
							a(href="https://twitter.com/kim_jin_bae" target="_blank" rel="noopener") Jin Bae Kim
						p
							a(href="http://www.baltimoresun.com/news/data/" target="_blank" rel="noopener") baltsundata
						small.scroll
							.next
								a(href='#0') Back to top &uarr;						

		//- #leaderboard			
		//- 	include includes/ad-for-body.html
		
		//Javascript
		//- script(src="#{datalink}js/min/jquery-3.0.0.min.js")
		//- script(src="#{datalink}js/app.js")
		script(src="#{datalink}js/app.min.js")

		//- include includes/ad-for-header.html

